<form class="contact-form" action="/sent-contacto" method="post">
  <h2 class="form-title">contáctanos</h2>

  <div class="form-group">
    <label for="nombre" class="form-label">¿cuál es tu nombre?</label>
    <input id="nombre" type="text" name="nombre" class="form-input" required>
  </div>

  <div class="form-group">
    <label for="email" class="form-label">correo electrónico</label>
    <input id="email" type="email" name="email"  class="form-input" required>
  </div>

  <div class="form-group">
    <label for="mensaje" class="form-label">déjanos un mensaje</label>
    <textarea id="mensaje" name="mensaje" class="form-input" required></textarea>
  </div>

  <button class="btn-submit" type="submit">enviar mensjae</button>
</form>
